body {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(#edecec, white); 
    padding: 0px 20px;
}

#recipe_cards .card-img-top{
    height: 300px;
}

#all_recipe_display a, #favorite_recipe_display a, #saved_recipe_display a{
    text-decoration: none;
}