<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% load static %}
            <link rel="stylesheet" href="{% static 'style.css' %}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
            <title>Recipe App</title>
        </head>
        <body>
            <div id="header">
                <h1>Welcome to Recipe Management App</h1>
            </div>
            <div id="recipe_display">
                {% for recipe in recipes %}
                    <h3>{{ recipe.title }}</h3>
                    <img src="{{ recipe.picture.url }}" alt="recipe_img">
                    <h3>{{ recipe.description }}</h3>
                    <h3>{{ recipe.meat_type }}</h3>
                    <h3>{{ recipe.category }}</h3>
                    <h3>Recipe saved by: {{ recipe.saved_by.first_name }} {{ recipe.saved_by.last_name }}</h3>
                {% endfor %}
            </div>
            <div id="user_display">
                {% for user in users %}
                    <h3>{{ user.first_name }} {{user.last_name}}</h3>
                    <h3>{{ user.email }}</h3>
                {% endfor %}
            </div>
        </body>