<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {% load static %}
            <link rel="stylesheet" href="{% static 'style.css' %}">
            <!-- Bootstrap CDN -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,500,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
            <title>Recipe App</title>
        </head>
        <body>
            <div class="container p-5">
                <h1 class="text-center mt-5">My Recipe Database</h1>
                <div class="container border rounded p-5 my-5 shadow" style="max-width: 400px;">
                    <h3 class="text-center mb-4">Sign In</h3>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <form action="/login_attempt" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <div class="custom-control custom-checkbox form-group">
                            <input type="checkbox" class="custom-control-input" id="remember_me">
                            <label for="remember_me" class="custom-control-label">Remember Me</label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg my-3">Sign In</button>
                        <p class="text-center">Not a member? <a class="text-primary" href="/register_page">Register</a></p>
                    </form>
                </div>
            </div>
        </body>